:root {
  --primary-color: #5c3eaf;
  --secondary-color: #007bff;
  --background-dark: hsl(230, 38%, 6%);
  --text-color: #ffffff;
  --accent-gray: #ffffff;
  --font-anonymous-pro: "Anonymous Pro", monospace;
  --font-bebas-neue: "Bebas Neue", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
    background: #222222;
    color: #ffffff;
}

canvas {
    display: none;
}

img {
    margin-top: 20px;
    border: 1px solid #ccc;
    cursor: grab;
}
.input{
    display: inline-flex;
    align-items: center;   /* vertically center items */
    justify-content: flex-start; /* left-align everything */
    width: 200px;
}
.block{
      display: inline-block;
      margin: 5px 0;
}
.usage-container {
    display: inline-flex;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid var(--text-color);
}
.color-value{
  padding: 0 10px;
}
input[type="number"], input[type="text"] {
    width: 200px;
    height: 40px;
    font-size: 14px;
}
.usage-container .text{
  padding: 5px 10px;
text-decoration: none;    
color: #ffffff;
}
.usage-container .copy{
  padding: 5px 10px;
text-decoration: none;    
color: #ffffff;
    width: 40px;
    height: 40px;
align-content: center;
}
input[type="color"] {
    width: 44px;
    height: 44px;
}
button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.controls label {
    display: inline-block;
    width: 120px; /* consistent width for all labels */
    text-align: right;
    margin-right: 10px;
}
